.about-content{
    padding: 0 12rem 0 14.2rem;
    text-align: left;
}
.about-cards{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding-bottom: 2rem;
    scrollbar-width: none;
}
.about-cards::-webkit-scrollbar { 
    display: none;  
}
.mobile-view .about-content{
    width: 100vw;
    padding: 0 2rem 0 2rem;
}