/* File: src/components/CircularSlider.css */

.circular-slider {
    width: 760px;
    display: inline-block;
    justify-content: center;
  }
  .mobile-view .circular-slider {
    width: 350px;
  }
  
  .slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    opacity: 0.1; /* Default opacity for far items */
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .mobile-view .slider-item{
    padding: 30px 0 30px 18px;
  }
  
  .slider-icon {
    display: flex;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #d5b6939a;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .mobile-view .slider-icon{
    width: 38px;
    height: 38px;
  }
  .slider-icon img {
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
  .mobile-view .slider-icon img{
    width: 20px;
    height: 20px;
  }
  .slider-label {
    font-size: 12px;
    color: #333;
    width: 50px;
    text-align: center;
  }
  
  /* Full opacity and scaling for the center item */
  .slider-item.center {
    opacity: 1;
    transform: scale(1.8);
    justify-content: center;
    position: relative; /* Required for adding the outer ring */
}

.slider-item.center::before {
    content: '';
    position: absolute;
    top: 29px;
    left: 28px;
    width: calc(40% + 20px);
    height: calc(40% + 10px);
    border: 2px solid #D4C3A3; /* Outer border color */
    border-radius: 50%; /* Rounded border for circular effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: -1; /* Place it behind the center item */
    background: #FFF; /* Background color for outer ring */
}

.mobile-view .slider-item.center::before {
  content: '';
  position: absolute;
  top: 26px;
  left: 14px;
  width: calc(50% + 11px);
  height: calc(50% - 8px);
  border: 2px solid #D4C3A3; /* Outer border color */
  border-radius: 50%; /* Rounded border for circular effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: -1; /* Place it behind the center item */
  background: #FFF; /* Background color for outer ring */
}
  
  /* Semi-opacity for nearby items */
  .slider-item.near {
    opacity: 0.8;
    transform: scale(1.4);
  }
  
  /* Default for distant items */
  .slider-item.far {
    opacity: 0.6;
    transform: scale(1.2);
  }

  .slider-item.tooFar {
    opacity: 0.4;
  }
  
  .arrow-cs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    object-fit: cover;
  }
  .mobile-view .arrow-cs{
    display: none !important;
  }
  
  .arrow-cs.next {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 8px;
    right: -25px;
    justify-content: center;
  }
  
  .arrow-cs.prev {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 8px;
    left: -25px;
    justify-content: center;
  }
  