.content-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}
  
.content-block.left {
    flex-direction: row;
}
  
.content-block.right {
    flex-direction: row-reverse;
}
  
.content-block__image {
    flex: 1;
}
  
.content-block__image img {
    width: 100%;
    height: auto;
    display: block;
}
.content-block__image.right {
  padding-left: 10%;
}
  
.content-block__text {
    flex: 1;
}

.content-block__text.left {
  padding-left: 10%;
}
  
.content-block__text h3 {
    margin-top: 0;
    font-size: 28px;
}
  
.content-block__text p {
    font-size: 16px;
    line-height: 1.5;
}
  
.content-block__text button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
.content-block__text button:hover {
    background-color: #555;
}
  