.content-card{
    margin-top: 20px;
    width: 300px;
    font-size: smaller;
}
.mobile-view .content-card{
    width: 300px;
    margin-inline: auto;
}
.mobile-view .card-img{
    width: 300px;
    height: 200px;
}
.image-zoom-container {
    overflow: hidden;
    position: relative;
}
.card-img{
    transition: transform 0.3s ease-out;
}
.card-title{
    margin-top: 20px;
    margin-bottom: 10px;
}
.content-card:hover{
    transition: 0.2s ease-in-out; 
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
}
.content-card:hover .card-img{
    transform: scale(1.1); 
}
.content-card-body{
    padding-left: 10px;
    padding-right: 10px;
}
.card-sub{
    height: fit-content;
}
