/* Container for the day card */
.day-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header section (collapsed view) */
.day-card-header {
  display: flex;
  align-items: center;
  
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
}

.day-col{
  display: flex;
  width: 3rem;
}

/* Styling for day and title in the header */
.day-card-day {
  font-weight: bold;
  color: #333;
}
.mobile-view .day-card-day{
  width: 5rem;
}

.mobile-view .title-col{
  flex-wrap: wrap;
}

.day-card-title {
  padding-left: 1rem;
  flex-grow: 1;
  margin-left: 10px;
  font-size: 1.1em;
  color: #333;
  border-left: 1px black solid;
}

.btn-col{
  margin-left: auto;
}

/* Expand button */
.expand-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.expand-icon{
  font-weight: 200;
}

/* Details section */
.day-card-details {
  transition: max-height 0.4s ease;
}

/* Extra padding for the content only when expanded */
.day-card-details.expanded {
  padding: 15px;
}

.day-card-img-container{
  display: flex;
  justify-content: center;
}
/* Image in the expanded view */
.day-card-image {
  width: 100%;
  margin-bottom: 10px;
}

/* Content section inside the expanded details */
.day-card-content {
  padding-top: 10px;
}

/* Footer details */
.day-card-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 15px;
  color: #666;
}
