.feedback-section{
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: center;
}
.feedback-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
.feedback-ft{
    width: 46.875rem;
    margin-bottom: 1rem;
}
.in-f{
    border: 1px solid rgba(128, 128, 128, 0.562);
}
.mobile-view .feedback-ft{
    width: 85vw;
}
.mobile-view .feedback-content{
    width: 100vw;
    padding: 5%;
    margin-bottom: -140px;
    margin-top: -50px;
}
.mobile-view .feedback-content h3{
    font-size: 30px;
}
.feedback-section2{
    padding-top: 100px;
    padding-bottom: 0px;
    justify-content: center;
}