.footer{
    background-color: #d3d3d3;
}
.footer-content{
    width: 80vw;
    padding: 2% 0 5% 0;
    color: #333;
    text-align: center;
}
.footer-nav{
    gap: 5rem;
    width: 100%;
    justify-content: center;
}
.footer-nav a,
.footer-bottom a {
    margin: 0 0.625rem;
    text-decoration: none;
    color: #333;
}

.footer-2nd-row{
    column-gap: 80px;
}
  
.footer-subscription {
    margin: 1.25rem 0;
    text-align: left;
}
  
.subscription-form {
    display: flex;
    gap: 1.25rem;
    margin: 0.625rem 0;
}
  
.subscription-form input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.subscription-form button {
    width: 17.5rem;
    padding: 0.625rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.footer-contact{
    margin-top: 1.25rem;
    text-align: left;
}
  
.footer-contact address {
    font-style: normal;
}

.footer-logos{
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
  
.footer-logos img {
    height: 15rem;
    margin: -3rem 0 0rem 0;
}
  
.footer-social .social-icons a {
    margin: 0 0.313rem;
}
  
.footer-social img {
    height: 1.875rem;
}
  
.footer-copyright {
    margin-top: 2rem;
}
.ft-social-icon{
    font-size: 1.563rem;
    color: rgba(0, 0, 0, 0.658);
}
.ft-social-icon:hover{
    color: rgb(0, 0, 0);
}
.contact-icons{
  height: 1.3rem;
}
.link-text{
  text-decoration: none;
  color: black;
}

.mobile-view .footer-content{
  width: 100vw;
  padding: 2rem 2rem 5rem 2rem;
}
.mobile-view .footer-nav{
  flex-direction: column;
  gap: 10px;
}
.mobile-view .footer-2nd-row{
    flex-direction: column;
}
.mobile-view .subscription-form input{
    height: 40px;
    font-size: small;
}
.mobile-view .subscription-form button{
    height: 40px;
    font-size: smaller;
}
.mobile-view .footer-contact{
    margin: 0;
    padding: 5% 0%;
    align-content: center;
    display: flex;
}
.mobile-view .footer-logos{
    margin: 0;
    height: 90px;
}
.mobile-view .footer-logos img{
    height: 9.5rem;
}
.mobile-view .footer-bottom{
    margin-top: 0px;
    margin-left: 0;
    font-size: small;
}
.mobile-view .footer-social{
    margin: 0;
}
.mobile-view .footer-copyright{
    margin: 0;
    padding-top: 40px;
}

@media (max-width: 930px) {
    .subscription-form {
        flex-wrap: wrap;
    }
    .subscription-form button{
        width: 100%;
    }
    .footer-nav{
        gap: 1rem;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-2nd-row{
        column-gap: 30px;
    }
    .footer-contact{
        justify-content: center;
    }
    .ftc{
        padding-left: 80px;
    }
}
@media (max-width: 840px) {
    .subscription-form {
        flex-wrap: nowrap;
    }
    .subscription-form button{
        width: 65%;
    }
    .footer-contact{
        height: 320px;
    }
}