.footer {
  background: linear-gradient(to bottom, black, #383027);
}
.footer-content {
  width: 80vw;
  padding: 2% 0 2% 0;
  color: white;
  text-align: center;
}
.mobile-view .footer-content {
  width: 100vw;
  padding: 2rem 2rem 5rem 2rem;
}
.ft-top-txt{
  letter-spacing: 1.8px; 
  font-size: 16px;
}
.mobile-view .ft-top-txt{
display: none;
}
.footer-nav {
  text-align: left;
  margin-top: 100px;
  margin-left: 4rem;
}
.mobile-view .footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 0rem;
  margin-top: 3.5rem;
}

.footer-nav div {
  margin-top: 16px;
}
.footer-nav a {
  text-decoration: none;
  color: white;
}
.footer-con {
  margin-top: 6.25rem;
  margin-left: 3rem;
  text-align: left;
}
.footer-con a {
  text-decoration: none;
  color: white;
}
.footer-con div {
  margin-top: 5px;
}
.mobile-view .footer-con {
    margin-top: 3rem;
    text-align: center;
    margin-left: 0rem;
}
.subscription-form {
  height: 40px;
  display: flex;
  gap: 1.25rem;
  margin: 0.625rem 0;
}

.subscription-form input {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscription-form button {
  width: 50%;
  padding: auto;
  border: none;
  background-color: #d5b693;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}
.mobile-view .subscription-form {
  width: 100%;
}
.mobile-view .subscription-form input {
  width: 60%;
  height: 40px;
  font-size: small;
}
.mobile-view .subscription-form button {
  width: 35%;
  height: 40px;
  font-size: 12px !important;
}
.footer-contact address {
  font-style: normal;
}
.footer-logos {
  display: flex;
  justify-content: left;
  gap: 0.2rem;
}
.footer-logos img {
  height: 3rem;
}
.mobile-view .footer-logos {
  justify-content: center; 
  flex-wrap: wrap;        
  gap: 1.5rem;              
  padding-left: 0; 
}

.mobile-view .footer-logos img {
  height: 3.2rem;
}

.footer-social {
  margin-top: 50px;
}
.social-icons {
  width: fit-content;
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
  z-index: 1 !important; 
  background-color: #322b22;
  justify-self: center;
}

.footer-social hr {
  position: relative;
  z-index: 0 !important;
  margin-top: -35px; 
}

.social-icons img {
  height: 1.875rem;
}

.footer-copyright {
  margin-top: 2rem;
}
.ft-social-icon {
  font-size: 1.563rem;
  color: white;
}
.ft-social-icon:hover {
  color: #d5b693;
}
.contact-icons {
  height: 1.3rem;
}
.mobile-view .contact-icons {
  height: 1.1rem;
  margin-top: -5px;
}
.link-text {
  text-decoration: none;
  color: black;
}




.mobile-view .footer-contact {
  margin: 0;
  padding: 5% 0%;
  align-content: center;
  display: flex;
}

.mobile-view .footer-bottom {
  margin-top: 0px;
  margin-left: 0;
  font-size: small;
}
.mobile-view .footer-social {
  margin: 0;
}
.mobile-view .footer-copyright {
  margin: 0;
  padding-top: 40px;
}



.ft-logo {
  height: 6rem;
  margin-bottom: 10px;
}
.footer-main-container{
  display: flex;
}
.mobile-view .footer-main-container {
  display: block;
}