.itinerary-category-section{
  width: 100%;
  margin-top: 0rem;
}
.itinerary-wrapper {
  position: relative;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 2rem;
}
.mobile-view .itinerary-wrapper {
    width: 100vw;
    margin-top: 0rem;
    margin-left: -30px;
}
.mainTourCards-nav-icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    float: right;
  }
.nav-icon{
    color: white;
    height: 30px;
    cursor: pointer;
}
.itinerary-wrapper {
  justify-content: flex-start; /* Aligns items to the left */
  overflow: hidden; /* Hides overflow from padding in the slider */
}
.slider-container .slick-track {
  display: flex;
  align-items: flex-start; /* Aligns items to the top if needed */
  justify-content: flex-start; /* Aligns items to the left */
}
