/* LoadingSpinner.css */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100px; /* Adjust as per your section height */
}

.spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000000; /* Change color if needed */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    animation: spin 0.3s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
