
.mobile-button {
    padding: 10px 20px;
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    z-index: 1000;
    outline: solid 1px white;
    outline-offset:-5px;
    background-color: #ac8453;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
  }
  
  @media only screen and (max-width: 768px) {
    .mobile-button {
      display: block; 
    }
  }

  