.testimonial-content{
    padding: 10rem 2rem 0 2rem;
}
.testimonial-img{
    margin-left: -100px;
}
.testimonial-img-coontainer{
}
.mobile-view .testimonial-img-coontainer{
    display: flex;
    margin-bottom: 4rem;
    margin-right: 1rem;
}
.testimonial-img{
    max-height: 30rem;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                  -6px -6px 10px -1px rgba(0,0,0,0.15);
}
.testimonial-text{
    min-width: 16rem;
    text-align: left;
    font-size: 28px;
}
.star{
    margin-right: 1rem;
}
@media only screen and (max-width: 470px) {
    .testimonial-img{
      max-height: 23rem;
      margin-left: 2%;
    }
}