.testimonial-content{
    padding: 5rem 5rem 0 5rem;
}
.mobile-view .testimonial-img-coontainer{
    display: flex;
    margin-bottom: 4rem;
    margin-right: 1rem;
}
.testimonial-iframe{
    width: 100%;
    height: 90%;
    border-radius: 0.5rem;
    margin-top: 0.938rem;
}
.testimonial-text{
    min-width: 16rem;
    text-align: left;
    font-size: 28px;
}
.star{
    margin-right: 1rem;
}
@media only screen and (max-width: 470px) {
    .testimonial-img{
      max-height: 23rem;
      margin-left: 2%;
    }
}