.bookingForm-container{
    display: flex;
    justify-content: center;
  }
  .bookingForm-content{
    padding: 100px 0;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    overflow: hidden;
  }
  .mobile-view .bookingForm-content{
    width: 100vw;
    padding: 5rem 2rem;
  }
  .mobile-view .bookingForm-content h3{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .booking-form{
    width: 100%;
    padding: 50px 0;
  }
  .form-control {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .date-label {
    position: absolute;
    padding-left: 12px;
    top: 50%;
    width: 80%;
    transform: translateY(-50%);
    color: #636363;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    pointer-events: none; 
    transition: all 0.2s ease; 
  }

  .err .date-label{
    top: 30%;
  }
  .package-error{
    margin-top: -2.5rem;
  }
  
  .form-control:focus + .date-label,
  .form-control:not(:placeholder-shown) + .date-label,
  .filled.date-label {
    display: none; 
    font-size: 12px;
    color: #555;
  }

  .package-card-container {
    width: 100%;
    padding: 20px 0 50px 0;
  }
  
  .tab-container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; 
  }
  .tab-controls{
    display: flex;
  }
  .mobile-view .tab-controls{
    font-size: 12px;
  }
  
  .tab-headers {
    display: flex;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ddd;
  }
  
  .tab-button {
    width: fit-content;
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #666;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 10px 10px 0px 0; 
  }
  .mobile-view .tab-button{
    padding: 5px;
  }
  
  .tab-button.active {
    background: linear-gradient(to bottom, #a5a5a5, #cecece);
    color: #333;
    font-size: 18px;
    font-weight: 500;
  }
  .mobile-view .tab-button.active{
    font-size: 15px;
  }
  
  /* .tab-button:not(.active):hover {
    background-color: transparent;
    transform: translateY(-20%);
  } */
  
  .tab-content {
    width: 100%;
    padding: 10px 35px 40px 35px;
    background: linear-gradient(to bottom, #cecece, transparent);
    border-radius: 0px 0px 10px 10px; 
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .mobile-view .tab-content{
    width: 100%;
    padding: 10px 35px 40px 35px;
  }
  .tab-content.loading {
    opacity: 0;
  }
  
  
  .slider-item2 {
    width: fit-content;
    padding: 20px;
    max-width: 280px; 
    box-sizing: border-box;
  }
  .cl-btn:hover{
    background-color: rgb(173, 173, 173);
    color: black;
}
.error-text{
  color: red;
}
.mobile-view .error-text{
  font-size: 12px;
}
.booking-summary-content{
  display: flex;
}
.label-text {
  top: 2px;
  justify-content: left;
  display: flex;
  position: relative;
  color: rgb(122, 122, 122);
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s;
}
.noOfPax-group{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 6px 12px;
  justify-content: space-between;
}
.pax-label{
  display: block;
  font-size: 16px;
  color: #777;
}
.pax-input{
  width: 80px;
  padding-right: 20px;
  border: none;
  background: transparent;
  font-size: 16px;
  text-align: center;
  appearance: none;
  outline: none;
}
.dropdown-icon{
  position: absolute;
  pointer-Events: none;
  color: #ccc;
  right: 10px;
}
  


.fade-enter {
  opacity: 0;
  display: none;
}
.fade-enter-active {
  opacity: 1;
  display: block;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateY(100);
}
.fade-exit-active {
  display: none;
  transition: all 300ms ease-in-out;
}
.loading-indicator {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loading-indicator.visible {
  opacity: 1;
}

.pkg-card-container{
  opacity: 0;
  transform: translateY(-50px);
  transition: all 300ms ease-in-out;
} 
.pkg-card-container.visible{
  opacity: 1;
  transform: translateY(-80px);
  transition: all 300ms ease-in-out;
}
  