.connect-app-section {
    position: relative;
    overflow: hidden;
    height: 31.25rem;
    margin-top: 12rem;
}
.connect-app-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/images/Rectangle 9.png"), linear-gradient(rgba(0, 0, 0, 0.14),rgba(0, 0, 0, 0.74));
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.connect-app-content {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; 
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 0% 10% 0% 50%;
    flex-direction: row;
    align-items: center;
}
/* @media only screen and (max-width: 495px) {
    .connect-app-content{
      margin-left: -2.5rem;
      margin-top: 7.5rem;
    }
} */

.mobile-view .connect-app-content{
    padding: 10% 10% 0% 10%
}