
.DMC-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.DMC-content{
    display: block;
    width: 80vw;
}
.mobile-view .DMC-content{
    width: 100vw;
    padding: 0rem 2rem 2rem 2rem;
    flex-wrap: wrap;
}

.DMC-card-image {
    width: 93%;
    object-fit: cover;
}
.mobile-view .DMC-card-image {
    width: 100%;
}

.DMC-card-image-v {
    z-index: 1; 
    margin-left: -3.75rem;
    height: 51.25rem;
    object-fit: cover;
}
.mobile-view .DMC-card-image-v {
    height: 35.625rem;
    margin-left: 5rem;
    margin-top: -15.625rem;
    z-index: -1; 
}

.DMC-card-content{
    /* padding: 6%; */
    z-index: 0; 
    height: fit-content;
    color: white;
    animation: fade-in-DMC 1s ease-in-out;
}
.DMC-card-con{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4rem;
    position: relative;
}

.mobile-view .DMC-card-content{
    padding: 2rem 0% ;
}

.DMC-card-subtitle {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
    margin-top: 3.125rem;
}

.DMC-card-description {
    height: 6.25rem;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 1.875rem;
    color: #ffffff;
    font-weight: 300;
}
.mobile-view .DMC-card-description{
    height: 12.5rem;
}

.card-options {
    display: flex;
    gap: 3.125rem;
    margin: 1.875rem 0;
}

.card-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #373737;
}
.card-icon{
    height: 2.5rem;
}

.DMC-card-button {
    width: 12.5rem;
    padding: 0.625rem 1.25rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.625rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.25rem;
}

/* Specific order for mobile */
.mobile-view .DMC-card-headings {
    order: 1;
    text-align: center;
}

.mobile-view .DMC-card-image-container {
    order: 2;
    justify-content: center;
    display: flex;
}

.mobile-view .DMC-card-description {
    order: 3;
}

.carousel-container{
    margin-top: 7.5rem;
    width: fit-content;
    height: fit-content;
}
.mobile-view .carousel-container{
    height: 6.25rem;
    margin-top: 10rem;
    margin-left: -2.5rem;
}
.DMC-bg-img{
     position: absolute;
     z-index: -1; 
     margin-top: 3.75rem; 
     margin-left: 10rem;
     object-fit: cover;
     width: 95%;
     height: 75%;
}
.mobile-view .DMC-bg-img{
    margin-top: 0px; 
    margin-left: -2rem;
    width: 100%;
    height: 60%;
}

/* Keyframes for fade-in */
@keyframes fade-in-DMC {
    0% {
        transform: translateX(-20%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }