.eventsNews-content{
    padding: 0 0 12rem 0;
    width: 80vw;
    text-align: left;
}
.eventsNews-wrapper {
    position: relative;
    margin-top: 1rem;
    margin-left: -20px;
}
.nav-icons{
    display: flex;
    gap: 10px;
    float: right;
    margin-top: -70px;
}
.scroll-button3 {
    top: -10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.mobile-view .scroll-button3{
    top: -24%;
}
.mobile-view .nav-icon{
    height: 1.25rem;
}
.mobile-view .eventsNews-wrapper {
    width: 100vw;
    margin-top: 0rem;
    margin-left: -30px;
}
.mobile-view .eventsNews-content {
    margin-top: -100px;
    width: 100vw;
    padding: 0 2rem 2rem 2rem;
}
.content-card{
    margin-top: 20px;
    min-width: 300px;
}
.animate-cards{
    opacity: 1;
    transform: translateY(0);
}
.events-meta-icons{
    margin-right: 5px;
} 