.icon-card{
    height: fit-content;
    min-width: 330px;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.iconCard-img{
    align-self: center;
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 15px;
}
.icon-discription{
    height: 90px;
    /* text-align: justify;
    text-align-last: center; */
}
.icon-card:hover .iconCard-img{
    transform: scale(1.1);
    transition: transform 1s;
}
.icon-card.visible {
    opacity: 1;
    transform: translateY(0);
}