.services-content{
    
}
.service-slider-wrapper {
    position: relative;
    width: 80vw;
    margin-top: 3.75rem;
}

.service-slider {
    display: flex;
    justify-content: left;
    gap: 1.875rem;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
    padding-left: 20px;
}

.service-slider::-webkit-scrollbar {
    display: none;
}

.scroll-button2 {
    top: -10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.nav-icons-mb{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* .scroll-button2.left2 {
    margin-left: 94%;
}

.scroll-button2.right2 {
    margin-left: 97%;
} */

.nav-icons{
    display: flex;
    gap: 10px;
    float: right;
    margin-top: -70px;
}
.mobile-view .scroll-button2{
    top: 110%;
    margin-left: -5%;
}
.mobile-view .service-slider {
    width: 100vw;
    padding: 0 4rem 0 0;
}
.mobile-view .right2 {
   margin-left: 5%;
}
.mobile-view .services-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
.nav-icon{
    height: 30px;
}

