.services-content{
   
}
.service-slider-wrapper {
    position: relative;
    width: 80vw;
    margin-top: 3.75rem;
}

.service-slider {
    display: flex;
    justify-content: left;
    gap: 2.8rem;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
}

.service-slider::-webkit-scrollbar {
    display: none;
}

.scroll-button2 {
    position: absolute;
    top: -20%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

.scroll-button2.left2 {
    margin-left: 94%;
}

.scroll-button2.right2 {
    margin-left: 97%;
}
.mobile-view .scroll-button2{
    top: 110%;
    margin-left: -5%;
}
.mobile-view .service-slider {
    width: 100vw;
    padding: 0 4rem 0 1rem;
}
.mobile-view .right2 {
   margin-left: 5%;
}
.mobile-view .services-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
.nav-icon{
    height: 30px;
}

