.services-content{
    width: 80vw;
}
.service-slider-wrapper {
    position: relative;
    margin-left: -20px;
    margin-top: 2rem;
}

.mobile-view .service-slider-wrapper {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 2rem;
}

.scroll-button2 {
    top: -10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.nav-icons-mb{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.service-card-nav-icons{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    gap: 10px;
    float: right;
    margin-top: 120px;
}


.nav-icons{
    display: flex;
    gap: 10px;
    float: right;
    margin-top: -70px;
}
.mobile-view .services-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
    margin-top: -100px;
}
.nav-icon{
    height: 30px;
    cursor: pointer;
}

@media (max-width: 664px) {
    .nav-icon-col{
        display: none;
    } 
}
