.testimonial-section{
    /* background-image: url('C:\Users\ashan\Desktop\Projects\intt-leisure\Front-end\src\assets\images\testmonials.jpg'); */
    background-repeat: no-repeat;
    object-fit: cover;
}
.testimonial-content{
    width: 80vw;
    margin-bottom: 12rem;
}
.mobile-view .testimonial-content{
    margin-bottom: 4rem;
}
.testimonial-iframe{
    width: 100%;
    height: 26rem;
    margin-left: -10px;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 1s ease;
}
.testimonial-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    opacity: 0;
    transition: all 1s ease;
}
.star{
    margin-right: 1rem;
}
@media only screen and (max-width: 470px) {
    .testimonial-iframe{
        height: 12.5rem;
        margin-top: -2rem;
    }
}

.testimonial-iframe.visible {
    opacity: 1;
    animation: slideInFromLeft 1s forwards;
}
.testimonial-text.visible {
    opacity: 1;
    animation: slideInFromRight 1s forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mobile-view .testimonial-content{
    width: 100vw;
    padding: 0 2rem 0 2rem;
    margin-top: -100px;
}

.mobile-view .testimonial-video-container,
.mobile-view .testimonial-text {
    animation: none; 
}