.testimonial-section{
    background-image: url('/src/assets/images/Testimonial-bg.png');
    background-attachment: fixed;
    object-fit: cover;
    padding: 50px 0;
}
.testimonial-content{
    width: 80vw;
}
.testimonial-iframe{
    width: 100%;
    height: 26rem;
    margin-left: -10px;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 1s ease;
}
.mobile-view .testimonial-iframe{
    margin-left: 0px;
}
.testimonial-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.75rem;
    opacity: 0;
    transition: all 1s ease;
    color: white;
    font-weight: 300;
}
.testimonial-text h4{
    font-size: 1.75rem;
}
.star{
    margin-right: 1rem;
}
@media only screen and (max-width: 470px) {
    .testimonial-iframe{
        height: 12.5rem;
        margin-top: -2rem;
    }
}

.testimonial-iframe.visible {
    opacity: 1;
    animation: slideInFromLeft 1s forwards;
}
.testimonial-text.visible {
    opacity: 1;
    animation: slideInFromRight 1s forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mobile-view .testimonial-content{
    width: 100vw;
    padding: 1rem 2rem 0 2rem;
}

.mobile-view .testimonial-video-container,
.mobile-view .testimonial-text {
    animation: none; 
}

@media only screen and (min-width: 768px) and 
  (min--moz-device-pixel-ratio: 1.25) and (max--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 5/4) and (-o-max-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 1.25) and (-webkit-max-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 1.25) and (max-device-pixel-ratio: 2)  {
        .testimonial-iframe{
            height: 21rem;
        }
        .testimonial-text{
            font-size: 1.4rem;
        }
        .testimonial-text h4{
            font-size: 1.6rem;
        }
}