
.why-chooseus-content{
    padding: 0 12rem 0rem 12rem;
    width: 100%;
    text-align: center;
}
.icon-container-wrapper {
    position: relative;
    width: 80vw;
    margin-top: 3.75rem;
}
.icon-container  {
    display: flex;
    justify-content: left;
    margin-top: 2%;
    padding-right: 30%;
    gap: 2.8rem;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100vw;
}
.icon-container::-webkit-scrollbar {
    display: none;
}
.scroll-button {
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}
.scroll-button.left {
    margin-left: 96%;
}
.scroll-button.right {
    margin-left: 99%;
}
.mobile-view .icon-container{
    margin-top: -10%;
    padding-left: 12%;
}
.mobile-view .scroll-button{
    top: 100%;
    left: -50%;
}
.mobile-view .nav-icon{
    height: 1.25rem;
}
.mobile-view .eventsNews-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
.mobile-view .right {
    margin-left: 100% !important;
}
.mobile-view .left {
    margin-left: 90% !important;
}
.content-card{
    margin-top: 20px;
    min-width: 300px;
}
.animate-cards{
    opacity: 1;
    transform: translateY(0);
}



















.mobile-view .why-chooseus-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
.nav-icon{
    height: 30px;
}