
.why-chooseus-content{
    padding: 0 12rem 0rem 12rem;
    width: 100%;
    text-align: center;
}
.icon-container-wrapper {
    position: relative;
    width: 80vw;
    margin-top: 3.75rem;
}
.icon-container  {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    padding-right: 50px;
    gap: 3.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.icon-container::-webkit-scrollbar {
    display: none;
}
.nav-icons{
    flex-direction: column;
    float: right;
}
.scroll-button {
    top: -10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}
/* .scroll-button.left {
    margin-left: 96%;
}
.scroll-button.right {
    margin-left: 99%;
} */
.mobile-view .icon-container-wrapper{
    display: flex ;
}
.mobile-view .icon-container{
    padding-left: 12%;
    margin-left: -300px;
}
/* .mobile-view .scroll-button{
    top: 100%;
    left: -50%;
} */
.mobile-view .nav-icons{
    height: 1.25rem;
    margin-top: 70%;
    justify-content: center;
    width: 100px;
    background-color: aquamarine;
}
.mobile-view .eventsNews-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
/* .mobile-view .right {
    margin-top: 550%;
    margin-left: 100% !important;
}
.mobile-view .left {
    margin-left: 90% !important;
} */
.content-card{
    margin-top: 20px;
    min-width: 300px;
}
.animate-cards{
    opacity: 1;
    transform: translateY(0);
}

.mobile-view .why-chooseus-content {
    width: 100vw;
    height: 70vh;
    padding: 0 2rem 0 2rem;
}
.nav-icon{
    height: 30px;
}