
.why-chooseus-content{
    width: 80vw;
    text-align: left;
}
.icon-container-wrapper {
    margin-left: -20px;
    position: relative;
    margin-top: 3rem;
}
.icon-container  {
    text-align: center;
    font-size: smaller;
    display: flex;
    justify-content: left;
    padding-right: 50px;
    gap: 3.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.icon-container::-webkit-scrollbar {
    display: none;
}
.nav-icons{
    display: flex;
    gap: 10px;
    float: right;
    margin-top: -70px;
}
.scroll-button {
    top: -10%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.mobile-view .why-chooseus-content{
    width: 100vw;
    padding: 0 2rem 0 2rem;
    margin-top: -100px;
}
/* .mobile-view .icon-container-wrapper{
    width: 80vw;
    margin-top: 5rem;
} */
.mobile-view .icon-container{
    padding-right: 75px;
}
.nav-icons-mb{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.mobile-view .nav-icons{
    margin-top: 50px;
    height: 3.25rem;
    gap: 20px;
    display: inline-block;
    justify-content: center;
    width: 100px;
}
.mobile-view .eventsNews-content {
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
.content-card{
    margin-top: 20px;
    min-width: 300px;
}
.animate-cards{
    opacity: 1;
    transform: translateY(0);
}
.nav-icon{
    height: 40px;
}