.App {
  text-align: center;
  overflow-x: hidden;
}
.section {
  padding-top: 8rem;
  font-size: smaller;
  overflow-x: hidden;
}
.font-primary {
  font-family: "Playfair", Display;
}
.font-secondary {
  font-family: "Inter", sans-serif;
}
