.aboutus-content-section{
    display: flex;
    justify-content: center;
}
.aboutus-section-content {
    width: 100vw;
    text-align: left;
}
.why-choose-item{
    justify-content: center;
    display: flex;
    margin-top: 150px;
}
.why-choose-item h3{
    margin-bottom: 60px;
}
.top-cards{
    display: flex;
    justify-content: center;
    text-align: center;
}
.top-cards-content{
    width: 80vw;
    opacity: 1;
    transform: scale(1);
}
.our-story-content{
    opacity: 0;
    margin-top: 50px;
    transform: translateY(100px);
    width: 80vw;
}
.mobile-view .our-story-content{
    opacity: 1;
    margin-top: 0px;
    transform: translateY(0px);
}
.txt-col{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4rem;
}
.story-img{
    max-height: 37.5rem;
    border-radius: 1.25rem;
}
.our-missionVision-content{
    text-align: center;
    width: 80vw;
    opacity: 0;
    transform: scale(0.8);
}
.mobile-view .our-missionVision-content{
    margin-top: 50px;
    opacity: 1;
    transform: scale(1);
    flex-wrap: wrap;
}

#our-achievements {
    position: relative;
    width: 100vw;
}
.mobile-view #our-achievements {
    width: 100vw;
    margin-left: -2rem;
}
.our-achievements-bg {
    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: 0; 
}
.mobile-view .our-achievements-bg {
    height: 1250px;
}
.our-achievements-overlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459); 
    z-index: 1;
}
.our-achievements-content{
    height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 2;
    color: white;
    opacity: 0;
    transform: translateY(50px);
}
.mobile-view .our-achievements-content{
    width: 100vw;
    padding: 5rem 2rem;
}
.achivement-item{
    width: 85%;
}
.achivement-item-right {
    margin-left: auto; 
}
.mobile-view .achivement-item{
    width: 100%;
}
.mobile-view .achivement-item-right {
    margin-top: 3.125rem;
}

.vm-container{
    min-height: 32.5rem;
    width: 29.375rem;
    padding: 3.125rem;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: #d5b693 0px 3px 8px;
}
.vm-container p, .values-li li{
    font-size: 1.25rem;
}
.mobile-view .vm-container p, .mobile-view .values-li li{
    font-size: 0.938rem;
}
.mobile-view .vm-container{
    min-height: fit-content;
    width: auto;
    padding: 2rem;
}
.mobile-view .vmc3{
    width: 80vw;
}
.vm-icon{
    height: 12.5rem;
    margin-bottom: 2.5rem;
}
.values-li{
    text-align: left;
    padding-left: 3.5rem;
}
.mobile-view .values-li{
    padding-left: 1rem;
}

.achivement-img{
    height: 11.25rem;
    margin-bottom: 3.125rem;
}

.mobile-view .achivement-img{
    height: 5rem;
    margin-bottom: 3.125rem;
}

.mobile-view .aboutus-section-content {
    width: 100vw;
    padding: 0 2rem 0rem 2rem;
}
.mobile-view .why-choose-item{
    margin-top: 80px;
}
.mobile-view .why-choose-item h3{
    font-size: 30px;
    margin-bottom: 2.5rem;
}
.mobile-view .txt-col{
    text-align: left;
    padding-right: 0rem;
}
.mobile-view .story-img{
    width: 100%;
    height: auto;
    margin-top: 3.125rem;
}
.mobile-view .vm-card-col{
    justify-content: center !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 3.125rem;
}
.mobile-view .vm-contaioner{
    height: auto;
    width: 100%;
    margin-top: 3.125rem;
}
.mobile-view .txt-col-p{
    margin-top: -4.375rem;
}
.mobile-view .txt-col-p2{
    margin-top: -1.25rem;
}

.mobile-view .top-cards{
    margin-top: 0px;
    justify-content: left;
}
.mobile-view .top-cards-content{
    width: 105vw;
    margin-left: -2.5rem;
}

.animate-block{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease-in-out;
}
.animate-vmCard{
    opacity: 1;
    transform: scale(1);
    transition: all 0.8s ease-in-out;
}

.mobile-view .tc-head {
    margin-left: 1.25rem;
    width: 98%;
}

@media only screen and (min-width: 768px) and 
  (min--moz-device-pixel-ratio: 1.25) and (max--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 5/4) and (-o-max-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 1.25) and (-webkit-max-device-pixel-ratio: 2),
  (min-device-pixel-ratio: 1.25) and (max-device-pixel-ratio: 2) {
    .achivement-img{
        height: 8rem !important;
        margin-bottom: 3.125rem;
    }
    .vm-container{
        min-height: 30rem;
        width: 22rem;
        padding: 2rem;
    }
    .vm-icon{
        height: 10rem;
        margin-bottom: 1.5rem;
    }
    .vm-container p, .values-li li{
        font-size: 1rem;
    }
    .values-li{
        padding-left: 2.5rem;
    }
  }