.blogs-list-section{
    display: flex;
    justify-content: center;
}
.blogs-list-content {
    width: 80vw;
    flex-wrap: wrap; 
    text-align: left;
    margin-bottom: 12rem;
}
.mobile-view .blogs-list-content {
    margin-bottom: 6rem;
}
.blog-cards-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    column-gap: 4rem;
    row-gap: 8rem;
    max-width: 100%; 
    margin-top: 6rem;
}

.service-content-card{
    flex: 1 1 20rem; 
    max-width:20rem;
    height: fit-content;
    text-align: left;
}
.service-content-image-zoom-container {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
@media (max-width: 2000px) {
    .service-content-card {
        flex: 1 1 25rem; 
        max-width:25rem;
    }
}
@media (max-width: 1600px) {
    .service-content-card {
        flex: 1 1 20rem; 
        max-width:20rem;
    }
}


.mobile-view .blog-cards-container{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

