.bookNow-content-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.bookNow-section-content {
    padding: 0 12rem 12rem 12rem;
    display: flex;
    flex-wrap: wrap; 
    text-align: left;
    overflow: hidden;
}
.main-col{
    gap: 100px;
}
.date-container{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    background-color: rgba(194, 196, 195, 0.671);
}
.stay-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-input{
    width: 100%;
    margin-right: -70px;
}
.check-in{
    border-right: solid 1px black;
}
.count-input{
    width: 70px;
}
.package-card-container{
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap; 
    column-gap: 2rem;
    row-gap: 2rem;
    scrollbar-width: none;
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
}
.scrollable-content {
    overflow-y: auto;
    height: 100%;
} 
.scrollable-content::-webkit-scrollbar {
    display: none;
}
.booking-summary-col {
    position: relative;
    padding: 50px;
    width: 70%;
    border-radius: 10px;
    height: fit-content;
    background-color: #fff7d9;
}
.text-field-bottom-line {
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid #000; 
    outline: none;
    width: 100%; 
    padding: 5px 0; 
}
  
.text-field-bottom-line::placeholder {
    color: #aaa; 
}
.btn-book-f{
    margin-top: 100px;
    width: 300px;
}
.form-group {
    position: relative !important;
    margin-bottom: 30px !important;
}
.form-control {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
}
.label-text {
    position: absolute;
    top: 0.1rem; 
    left: 10px;
    color: #000; 
    font-size: 16px;
    font-weight: 400;
    pointer-events: none; 
    transition: top 0.3s, font-size 0.3s;
}
.form-control:focus {
    outline: none !important;
}
.form-control:focus + .label-text,
.form-control:not(:placeholder-shown) + .label-text {
    top: -1.25rem; 
    font-size: 0.8rem !important; 
}
.book-icons{
    font-size: 30px;
}


.mobile-view .bookNow-section-content{
    padding: 2rem 2rem 30rem 2rem;
}
.mobile-view .main-col{
    flex-direction: column;
}
.mobile-view .scrollable-content{
    width: 85vw;
}
.mobile-view .date-container{
    gap: 0px;
    margin-bottom: 10px;
    padding: 10px;
    height: 70px;
}
.mobile-view .book-icons{
    font-size: 20px;
}
.mobile-view .date-input{
    width: 105%;
    margin-left: -20%;
}
.mobile-view .book-text{
    margin: 10px !important;
    font-size: 10px;
    width: 120px;
}
.mobile-view .check-out{
    padding-left: 10px;
}
.mobile-view .count-input{
    width: 40%;
}
.mobile-view .in1{
    margin-left: -30%;
    width: 30%;
}
.mobile-view .package-card-container{
    flex-wrap: nowrap; 
    column-gap: 1rem;
    row-gap: 0rem;
    scrollbar-width: none;
    height: 100px;
    width: 85vw;
    justify-content: left;
    align-items: normal;
    overflow-x: scroll;
}
.mobile-view .booking-summary-col{
    width: 85vw;
    margin-top: -75%;
    margin-left: -0%;
    margin-bottom: 0%;
}

 