.bookNow-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bookNow-section-content {
    padding: 0 12rem 12rem 12rem;
    display: flex;
    flex-wrap: wrap; 
    text-align: left;

    height: 100vh;
    overflow: hidden;
}
.date-container{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px;
    height: 100px;
    background-color: rgba(194, 196, 195, 0.671);
}
.check-in{
    border-right: solid 1px black;
}
.check-in-date{
    height: 100%;
    width: 60px;
}
.check-out{
    padding-left: 50px;
}
.package-card-container{
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap; 
    column-gap: 2rem;
    row-gap: 2rem;
    scrollbar-width: none;
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
}
.scrollable-content {
    overflow-y: auto;
    height: 100%;
} 
.scrollable-content::-webkit-scrollbar {
    display: none;
}
.booking-summary-col {
    position: sticky;
    top: 0;
    padding-left: 100px;
    height: fit-content;
}
.booking-summary-content{
    border-radius: 8px;
    padding-left: 10%;
    position:static !important;
}


.text-field-bottom-line {
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid #000; /* Adjust the color and thickness as needed */
    outline: none;
    width: 100%; /* Adjust width as needed */
    padding: 5px 0; /* Adjust padding as needed */
  }
  
  .text-field-bottom-line::placeholder {
    color: #aaa; /* Adjust placeholder color as needed */
  }













.form-group {
    position: relative !important;
    margin-bottom: 30px !important;
}
.form-control {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
}
.label-text {
    position: absolute;
    top: 0.1rem; 
    left: 10px;
    color: #000; 
    font-size: 16px;
    font-weight: 400;
    pointer-events: none; 
    transition: top 0.3s, font-size 0.3s;
}
.form-control:focus {
    outline: none !important;
}
.form-control:focus + .label-text,
.form-control:not(:placeholder-shown) + .label-text {
    top: -1.25rem; 
    font-size: 0.8rem !important; 
}