.contactus-content-section{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff7d9;
}
.contactus-section-content {
    width: 80vw;
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
}
.top-text{
    padding: 0 15.5% 0 15.5%;
}

.mobile-view .top-text{
    padding: 0;
}

.mobile-view .contactus-section-content {
    width: 85vw;
    margin-bottom: 0px;
    background-color: antiquewhite;
}