.eventsNews-content-section{
    display: flex;
    justify-content: center;
}
.eventsNews-section-content {
    width: 80vw;
    flex-wrap: wrap; 
    text-align: left;
}
.eventsNews-img{
    width: 100%;
    margin-bottom: 1.25rem;
}
.eventsNews-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    height: 18.75rem;
    min-width: 200px;
}
.event-card {
    margin-bottom: 5rem;
    display: flex;
}
.news-card{
    margin-bottom: 5rem;
}
.news-cards-container{
    gap: 30px;
}