.eventsNews-content-section{
    display: flex;
    justify-content: center;
}
.eventsNews-section-content {
    width: 80vw;
    flex-wrap: wrap; 
    text-align: left;
}
.eventsNews-img{
    height: 250px;
    border-radius: 10px;
}
.mobile-view .eventsNews-img{
    height: auto;
    width: 100%;
}
.eventsNews-txt {
    flex: 1; 
    overflow: hidden; 
}
.news-card-btn{
    width: 10rem;
}
.event-card {
    margin-bottom: 8rem;
    display: flex;
    gap: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.news-cards-container{
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mobile-view .eventsNews-section-content{
    width: 100vw;
    padding: 0rem 2rem 0 2rem;
}
.mobile-view .event-card{
    margin-bottom: 6rem;
    flex-direction: column;
    height: fit-content !important;
}
.mobile-view .eventsNews-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
    height: fit-content;
}
.mobile-view .news-cards-container{
    flex-direction: column;
}
.mobile-view .news-card{
    margin-top: -220px;
}
@media (min-width: 665px) and (max-width: 1200px) {
    .eventsNews-img{
        width: 600px;
        margin-bottom: 1.25rem;
    }
    .eventsNews-img-col h5{
        width: 600px;
    }
}
.eventsNews-img-col{
    display: flex;
    position: relative;
    height: fit-content;
}
.event-date-place2{
    color: rgb(129, 129, 129);
}
.events-meta-icons{
    margin-right: 5px;
}
.mobile-view .event-date-place2{
    margin-left: 0px !important;
}
.img-overlay-date{
    position: absolute;
    bottom: -25px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    letter-spacing: 0;
    line-height: 35px;
    backdrop-filter: blur(10px);
}

.mobile-view .img-overlay-date{
    bottom: -40px !important;
    right: -20px !important;
    scale: 0.8;
}

.mobile-view .eventsNews-img-col {
    height: auto; 
    width: 100%; 
}

.meta-tags2{
    overflow-x: hidden;
    padding-top: 20px;
}
.mobile-view .meta-tags2{
    padding-top: 0px;
    flex-direction: column;
}
.event-content-txt{
    height: 105px;
    overflow-y: hidden;
}
.mobile-view .event-content-txt{
    height: fit-content;
}
.cat-div {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 10;
}
.share-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}
.mobile-view .cat-div {
    bottom: 2px;
    left: 22px;
}

.event-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.mobile-view .event-card{
    opacity: 1;
    transform: translateY(0);
}