.tour-component {
    display: flex;
    background-color: #f4f1ef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tour-left {
    position: relative;
    margin-right: 20px;
  }
  
  .tour-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  
  .tour-price {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #f7f7f7;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
  }
  
  .tour-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .tour-right h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .tour-details {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .tour-details li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .tour-starting-price {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .tour-starting-price span {
    font-weight: bold;
    font-size: 22px;
    color: #000;
  }
  
  .tour-buttons {
    display: flex;
    gap: 10px;
  }
  
  .inquiry-button, .call-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inquiry-button {
    background-color: #2b6fb8;
    color: #fff;
  }
  
  .call-button {
    background-color: #d32f2f;
    color: #fff;
  }
  