.mindfulness-content-section{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mindfulness-section-content {
    padding: 0 12rem 12rem 12rem;
    display: flex;
    flex-wrap: wrap; 
}
.mindfulness-content-cards-container{
    justify-content: center;
    min-height: 56.25rem;
    width: 100%;
}
.mindfulness-content-cards-container img{
   height: 350px;
}
.mindfulness-rw{
    margin-top: 9.375rem;
}
.text1{
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
}
.text2{
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}
.text3{
    padding-Top:30px; 
    padding-Left:120px;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
}
.mobile-view .mindfulness-rw{
    margin-top: 5rem;
}
.mobile-view .mindfulness-section-content{
    padding: 2rem 2rem 2rem 2rem !important;
    justify-content: center;
}
.mobile-view .top-text{
    padding: 0 0 15% 0;
}
.mobile-view .mindfulness-content-cards-container img{
    width: 85vw;
    height: auto;
    object-fit: cover;
}
.mobile-view .text1 {
    padding-Left:0.938rem;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}
.mobile-view .text2 {
    text-align: left;
    padding-Left:0.938rem;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}
.mobile-view .text3 {
    padding-Left:0.938rem;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}
@media only screen and (max-width: 1225px) {
    .text1{
       padding-left: 30%;
    }
    .text3{
        padding-left: 30%;
     }
}
@media only screen and (max-width: 1045px) {

}
.animate-text{
    opacity: 1 !important;
    transform: translateX(0) !important;
}