.mindfulnessInner-section{
    display: flex;
    justify-content: center;
}
.mindfulnessInner-content {
    width: 80vw;
    flex-wrap: wrap; 
}
.pkg-container-wrapper {
    margin-left: -20px;
    position: relative;
    margin-top: 1rem;
}
.mobile-view .pkg-container-wrapper {
    margin-right: -20px;
}
.mobile-view .mindfulnessInner-content{
    width: 100vw;
    height: fit-content;
    padding: 0rem 2rem 0rem 2rem;
}
.mobile-view .mindfulnessInner-content p{
    text-align: left;
}
.mobile-view .mindfulnessInner-cards-container img{
    height: auto;
    object-fit: cover;
}
.pkg-text-col{
    margin-top: 80px;
}
.mobile-view .pkg-text-col{
    margin-top: 50px;
}
.mobile-view .pkg-text-col{
    width: 80vw;
}
.pkg-nav-icons{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    gap: 10px;
    float: right;
    margin-top: 130px;
}
@media (max-width: 664px) {
    .nav-icon-col{
        display: none;
    } 
}
.nav-icon{
    color: white;
    height: 30px;
    cursor: pointer;
}
.mobile-view .mindfulnessInner-title{
    font-size: 35px;
}