.mindfulness-content-section{

}
.mindfulness-section-content {
    width: 80vw;
    flex-wrap: wrap; 
}
.mindfulness-section-content p{
    text-align: justify;
    margin-top: 0.625rem;
}
.mindfulness-content-cards-container{
    justify-content: center;
    width: 100%;
}
.mobile-view .mindfulness-section-content{
    width: 100vw;
    height: fit-content;
    margin-bottom: 4.5rem;
    padding: 0rem 2rem 0rem 2rem;
}
.mobile-view .mindfulness-section-content p{
    text-align: left;
}
.mobile-view .mindfulness-content-cards-container img{
    height: auto;
    object-fit: cover;
}
.animate-text{
    opacity: 1 !important;
    transform: translateX(0) !important;
}