.mindfulness-content-section{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.mindfulness-section-content {
    width: 80vw;
    display: flex;
    flex-wrap: wrap; 
}
.mindfulness-section-content p{
    text-align: justify;
    margin-top: 10px;
}
.mindfulness-content-cards-container{
    justify-content: center;
    min-height: 56.25rem;
    width: 100%;
}
.mobile-view .mindfulness-section-content{
    width: 100vw;
    padding: 2rem 2rem 2rem 2rem !important;
    margin-top: -100px;
}
.mobile-view .mindfulness-section-content p{
    text-align: left;
}
.mobile-view .mindfulness-content-cards-container img{
    height: auto;
    object-fit: cover;
}
.animate-text{
    opacity: 1 !important;
    transform: translateX(0) !important;
}