.package-content-section{
    display: flex;
    justify-content: center;
}
.package-section-content {
    width: 80vw;
    flex-wrap: wrap; 
    text-align: left;
}
.get-itinerary-btn{
    height: 3.75rem;
    width: 15.625rem;
    font-size: 1.25rem;
}