.package-content-section{
    display: flex;
    justify-content: center;
}
.package-section-content {
    padding-bottom: 10%;
    width: 80vw;
    flex-wrap: wrap; 
    text-align: left;
}
.get-itinerary-btn{
    height: 60px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 60px;
}