.sl-tours-section{
    display: flex;
    justify-content: center;
}
.sl-tours-content {
    width: 80vw;
    flex-wrap: wrap; 
    text-align: left;
}
.mobile-view .sl-tours-content{
    width: 100vw;
    padding: 0 2rem 0 2rem;
}
