.icon-card2{
    display: flex;
    height: fit-content;
    opacity: 0;
    margin: 40px 30px 0 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.iconCard-img2{
    align-self: center;
    height: 80px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 15px;
}
.icon-discription2{
    height: 120px;
    text-align: left;
}
.icon-card2:hover .iconCard-img2{
    transform: scale(1.1);
    transition: transform 1s;
}
.icon-card2.visible {
    opacity: 1;
    transform: translateY(0);
}

.mobile-view .icon-card2{
    margin: 0;
    width: 110%;
    margin-top: 40px;
}